ImcFramework/ImcFramework.Winform/Service References/WcfClientConnector/ImcFramework.WcfInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EServiceType" nillable="true" type="tns:EServiceType" />
  <xs:complexType name="ArrayOfEServiceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EServiceType" nillable="true" type="tns:EServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEServiceType" nillable="true" type="tns:ArrayOfEServiceType" />
  <xs:complexType name="FunctionSwitch">
    <xs:sequence>
      <xs:element minOccurs="0" name="Command" type="tns:ECommand" />
      <xs:element minOccurs="0" name="ScheduleFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="tns:EServiceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionSwitch" nillable="true" type="tns:FunctionSwitch" />
  <xs:simpleType name="ECommand">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pause" />
      <xs:enumeration value="RunImmediately" />
      <xs:enumeration value="Continue" />
      <xs:enumeration value="ModifySchedule" />
      <xs:enumeration value="Cancle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ECommand" nillable="true" type="tns:ECommand" />
  <xs:complexType name="ArrayOfFunctionSwitch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionSwitch" nillable="true" type="tns:FunctionSwitch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionSwitch" nillable="true" type="tns:ArrayOfFunctionSwitch" />
  <xs:complexType name="ServiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EServiceStatus" type="tns:EServiceStatus" />
      <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScheduleInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInfo" nillable="true" type="tns:ServiceInfo" />
  <xs:simpleType name="EServiceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Running" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Pause" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EServiceStatus" nillable="true" type="tns:EServiceStatus" />
  <xs:complexType name="ArrayOfLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogInfo" nillable="true" type="tns:LogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogInfo" nillable="true" type="tns:ArrayOfLogInfo" />
  <xs:complexType name="LogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerAccountLogLevels" nillable="true" type="tns:ArrayOfSellerAccountLogLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogInfo" nillable="true" type="tns:LogInfo" />
  <xs:complexType name="ArrayOfSellerAccountLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SellerAccountLogLevel" nillable="true" type="tns:SellerAccountLogLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSellerAccountLogLevel" nillable="true" type="tns:ArrayOfSellerAccountLogLevel" />
  <xs:complexType name="SellerAccountLogLevel">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerAccount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SellerAccountLogLevel" nillable="true" type="tns:SellerAccountLogLevel" />
  <xs:complexType name="ProgressSummary">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProgressItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="TotalType" type="tns:TotalType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProgressSummary" nillable="true" type="tns:ProgressSummary" />
  <xs:complexType name="ProgressItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgressItem" nillable="true" type="tns:ProgressItem" />
  <xs:simpleType name="TotalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SellerAccountCount" />
      <xs:enumeration value="RecordCount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TotalType" nillable="true" type="tns:TotalType" />
  <xs:complexType name="MessageEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageType" type="tns:EMessageType" />
      <xs:element minOccurs="0" name="MsgContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="tns:EServiceType" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageEntity" nillable="true" type="tns:MessageEntity" />
  <xs:simpleType name="EMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warn" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EMessageType" nillable="true" type="tns:EMessageType" />
</xs:schema>