ImcFramework/ImcFramework.Winform/Service References/WcfClientConnector/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q1:EServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q2:EServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnRegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="GetServiceListResult" nillable="true" type="q3:ArrayOfEServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="singleSwitch" nillable="true" type="q4:FunctionSwitch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSwitchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSwitchs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="switchs" nillable="true" type="q5:ArrayOfFunctionSwitch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestSwitchsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q6:EServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="GetServiceInfoResult" nillable="true" type="q7:ServiceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogInfoDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q8:EServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogInfoDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="GetLogInfoDatesResult" nillable="true" type="q9:ArrayOfLogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q10:EServiceType" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sellerAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logLevel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogInfosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q11:EServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="GetProgressTotalResult" nillable="true" type="q12:ProgressSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressSellerAccountTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="serviceType" nillable="true" type="q13:EServiceType" />
        <xs:element minOccurs="0" name="sellerAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressSellerAccountTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="GetProgressSellerAccountTotalResult" nillable="true" type="q14:ProgressItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Notify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="msgEntity" nillable="true" type="q15:MessageEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyLogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyTaskProgressTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="totalInfo" nillable="true" type="q16:ProgressSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyTaskProgressItemTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sellerAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyTaskProgressItemValueAndTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sellerAccount" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ImcFramework.WcfInterface" minOccurs="0" name="sellerAccountProgress" nillable="true" type="q17:ProgressItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyTaskProgressForceFinish">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sellerAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyTaskProgressFinishAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>